.DS_STORE
*/**/.DS_STORE
.idea
docker/nginx/ssl/dhparam.pem
docker/nginx/ssl/server.crt
docker/nginx/ssl/server.key

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
